#cuphead-widget {
    position: fixed;

    left: 20px;
    bottom: 60px;

    width: 200px;

    z-index: 99999;

    pointer-events: none;
}

#cuphead-widget img {
    display: block;
    width: 100%;
    height: auto;
}